.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 370px));
    gap: 30px;
    margin-left:50px;
    /* text-align: center; */
    justify-items: center;
    align-items: center;
    justify-content: center;
}

.card {
    border: solid purple;
    border-radius: 60px;
    background-color: lightcoral;
    aspect-ratio: 1;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.card-header {
    font-size: 20px;
    display: flex;
    align-items: center;
    /* Center vertically */
    justify-content: center;
    /* Center horizontally */
    height: 100px;
    text-align: center;
}

button{
    border:none;
    background-color: white;
}
/* 
.transcript-preview {
    font-size: 20px;
    vertical-align: bottom;
    /* overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
} */



