body{
    background-color: #A37552;
    color: #FFFFFF;
    font-size: 40px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 370px));
    gap: 30px;
    margin-left:20px;
    /* text-align: center; */
    justify-items: center;
    align-items: center;
    justify-content: center;
}


.logo{
    width:200px;
    height:auto;
}

ol,ul {
	list-style: none;
}

nav {
    background-color: white;
    border-color:  black;
    border-width:60px;
    border-radius: 60px;
    padding-bottom: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 10px 20px;
}

nav a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 20px;
    margin-left: 15px;
    font-family: sans-serif;
}

#mainMenu {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

#mainMenu li {
    list-style: none;
}

#mainMenu a {
    display: block;
    padding: 10px 15px;
    color: #009;
    font-size: 15px;
    text-decoration: none;
    border-radius: 5px;
}

#mainMenu a:hover {
    background-color: #FFFFFF;
    color: #000;
}


.author{
    text-align: right;
    font-size:15px;
}
.card {
    border-radius: 60px;
    background-color:#6E2A33;
    aspect-ratio: 1;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8px;
    align-items: center;
    color: #DFC3AA;
    font-family: inter; 
    font-size: 16px;

}

.card:hover{
    background-color: #4b32ae;
    transition-delay: .07s;
    cursor: pointer;
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */

}

/* Modal Content */
.modal-content {
    background-color: #130c22;
    margin: auto;
    padding: 20px;
    border: 5px solid #888;
    width: 80%;
    font-family: inter,sans-serif;
    font-size: 30px;
    border-radius: 60px;
    padding: 35px;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.card-header {
    font-size: 16px;
    display: flex;
    align-items: center;
    /* Center vertically */
    justify-content: center;
    /* Center horizontally */
    height: 100px;
    text-align: center;
}

button{
    border:none;
    background-color: #A37552;
}
/* 
.transcript-preview {
    font-size: 20px;
    vertical-align: bottom;
    /* overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
} */



