<!DOCTYPE html>
<html>
  <head>
    <title>Display Cards</title>
    <link rel="stylesheet" type="text/css" href="..\static\style.css" />
    <script src="script.js"></script>
  </head>

  <body>
    <div class="card-container">
      {% for card in cards %}

      <button>
        <div class="card">
          <div class="card-header">
            <h2>{{ card.title }}</h2>
          </div>
        </div>

        <div id="modal-content" class="card-body">
          <!-- <p class="transcript-preview">{{ card.transcript }}</p> -->
          <!-- <p class="read-more">Read More</p> -->
          <!-- <div class="full-transcript">{{ card.transcript }}</div> -->
          <!-- <div class="video-container">
              <iframe src="{{ card.vidembed }}"></iframe>
            </div> -->
        </div>
        <!-- <p class="cardID">Card ID: {{ card.cardID }}</p> -->
      </button>
      {% endfor %}
    </div>
  </body>
</html>
